@use "../base/var" as *;

.boxes{
    display: none;

    @media screen and (min-width:736px) {
        display: block;
        padding: 80px 0 144px 0;
    }

        @media screen and (min-width:1248pxpx) {
        padding: 80px 0 150px 0;
    }

    & > .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 80px;
    }

    &__subtitle{
        width: 492px;
        color: $main-color;
text-align: center;
text-shadow: 0 4px 70px rgba(0, 0, 0, 0.10);
font-size: 14px;
font-weight: 400;
line-height: 18px;
letter-spacing: -0.56px;

    }
    &__form{
        display: flex;
        position: relative;
    }

    &__input{
        background-color: transparent;
        padding: 15px 102px 15px 24px;
        border-radius: 100px;
        flex-shrink: 0;
        opacity: 0.3;
                border: 1px solid $main-color;

        &::placeholder{
        color: $main-color;
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: -0.56px;
        }
    }

    &__btn{
        padding: 15px 35px;
        background-color: $button-color;
        border-radius: 100px;
        color: $main-color;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: -0.56px;
        text-transform: capitalize;
        font-weight: 400;
        position: absolute;
        top: 0;
        right: 0;
    }
}