@use "../base/var" as *;

.footer {
  padding: 80px 0;
  background-color: $main-color;

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media screen and (min-width: 736px) {
      flex-direction: row;
      justify-content: space-between;
      align-items: start;
    }

  }

  &__logo {
    font-weight: 700;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    text-align: center;
    color: $accent-color;
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 24px;

    @media screen and (min-width: 736px) {
      margin-bottom: 80px;
    }

    @media screen and (min-width:1248px) {
        margin: 0;
    }
  }
  &__logos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media screen and (min-width:1248px) {
            gap: 20px;
    }
  }
  &__grid {
    width: 16px;
    height: 17px;
    margin-right: 8px;
    fill: $accent-color;
  }

  &__link {
    font-weight: 400;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: -0.04em;
    text-align: center;
    color: $accent-color;
  }
  &__list {
    display: flex;
    gap: 20px;
  }

  &__lists {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 44px;

    @media screen and (min-width:736px) {
        margin-top: 38px;
    }

    @media screen and (min-width:1248px) {
        margin:0;
    }
  }

  &__icon {
    fill: $accent-color;
    width: 24px;
    height: 24px;
  }
  &__socials {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    border-radius: 10px;
    border: 1px solid $accent-color;
  }

  &__lister {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 14px;
    margin-top: 44px;

    @media screen and (min-width: 736px) {
      align-items: start;
      gap: 20px;
    }

    @media screen and (min-width:1248px) {
        margin-top: 40px;
    }
  }

  &__itemer {
    width: 100%;

    &:last-child {
      .footer__contact {
        width: 160px;
        @media screen and (min-width: 736px) {
          text-align: start;
        }
      }
    }
  }

  &__contact {
    width: 100%;
    color: $accent-color;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-transform: uppercase;
    text-align: center;

    @media screen and (min-width: 736px) {
      text-align: start;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media screen and (min-width:1248px) {
        flex-direction: row;
        gap: 243px;
    }
  }
  &__box {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }
}
