@use "../base/var" as *;

.menu{
    width:100%;
    &__grid{
width: 16px;
height: 16px;
fill: $accent-color;
margin-right: 8px;

    }
    &__logo{
        font-family: var(--font-family);
font-weight: 700;
font-size: 14px;
line-height: 129%;
letter-spacing: -0.04em;
text-transform: uppercase;
text-align: center;
color: $accent-color;
display: flex;


    }
    &__close{
        width: 24px;
        height: 24px;
        fill: $accent-color;
display: flex;
justify-content: center;
align-items: center;


    }

    &__btn{
        width: 24px;
        height: 24px;
        justify-content: center;
        align-items: center;
        display: flex;
        background-color: transparent;
    }

    &__color{
        background-color: $main-color;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__color1{
    background-color: $accent-color;
    display: flex;
    justify-content: center;
    align-items: center;
    }

    &__icons{
        fill: $main-color;
        width: 20px;
        height: 18px;
    }

    &__link{
        
font-weight: 400;
font-size: 14px;
line-height: 129%;
letter-spacing: -0.04em;
text-align: center;
color: $main-color;
    }

    &__list{
      display: flex;
        flex-direction: column;
        gap: 16px;
        align-items: center;
        
    }
}