ul {
  margin: 0;
  list-style: none;
  padding: 0;
}

h1,
h2,
h3,
p {
  margin: 0;
}

a {
  text-decoration: none;
  display: inline-block;
}

button {
  border: none;
  cursor: pointer;
}

img {
  display: block;
  width: 100%;
  height: auto;
  max-width: 100%;
}

address {
  font-style: normal;
}

input,
textarea {
  display: block;
}

input,
textarea:focus-visible {
  outline: none;
  border: none;
  box-shadow: none;
}

body {
  font-family: "DM Sans";
  background-color: #AE1332;
}

.container {
  max-width: 1248px;
  margin-inline: auto;
  padding: 0 10px;
  outline: 1px solid red;
}
@media screen and (min-width: 355px) {
  .container {
    width: 355px;
  }
}
@media screen and (min-width: 736px) {
  .container {
    width: 736px;
    padding: 0 16px;
  }
}
@media screen and (min-width: 1248px) {
  .container {
    width: 1248px;
  }
}

.header {
  padding-top: 18px;
  padding-bottom: 18px;
  background-color: #FFFFFF;
}
@media screen and (min-width: 736px) {
  .header {
    padding-top: 13px;
    padding-bottom: 13px;
  }
}
@media screen and (min-width: 1248px) {
  .header {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}
.header__box {
  display: flex;
  align-items: center;
}
.header__nav {
  display: none;
}
@media screen and (min-width: 736px) {
  .header__nav {
    display: block;
  }
}
.header__list {
  display: flex;
  gap: 16px;
}
@media screen and (min-width: 1248px) {
  .header__list {
    gap: 20px;
  }
}
.header__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.04em;
  text-align: center;
  color: #AE1332;
}
.header__logo {
  font-weight: 700;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  text-align: center;
  color: #AE1332;
  display: flex;
  align-items: center;
}
@media screen and (min-width: 736px) {
  .header__logo {
    margin-left: 94px;
  }
}
@media screen and (min-width: 1248px) {
  .header__logo {
    margin-left: 322px;
  }
}
.header__grid {
  width: 16px;
  height: 17px;
  margin-right: 8px;
  fill: #AE1332;
}
.header__btn {
  display: none;
  background-color: transparent;
  margin-left: auto;
}
@media screen and (min-width: 736px) {
  .header__btn {
    display: block;
  }
}
.header__basket {
  fill: #AE1332;
  width: 24px;
  height: 24px;
}
.header__button {
  background-color: transparent;
  margin-left: auto;
}
@media screen and (min-width: 736px) {
  .header__button {
    display: none;
  }
}
.header__lister {
  width: 20px;
  height: 20px;
  fill: #AE1332;
}

.hero {
  padding-top: 56px;
  padding-bottom: 80px;
}
@media screen and (min-width: 736px) {
  .hero {
    padding-top: 64px;
    padding-bottom: 137px;
  }
}
@media screen and (min-width: 1248px) {
  .hero {
    padding-bottom: 150px;
  }
}
.hero__title {
  margin-left: auto;
  margin-right: auto;
  width: 335px;
  font-weight: 500;
  font-size: 28px;
  line-height: 28px;
  letter-spacing: 1px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 16px;
  text-transform: uppercase;
}
.hero__wrap {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  position: relative;
  top: -100px;
  z-index: -1;
}
@media screen and (min-width: 355px) {
  .hero__wrap {
    width: 307px;
  }
}
.hero__img {
  width: 311px;
  height: 484px;
  border-radius: 500px;
}
.hero__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 500px;
  border-style: solid;
  border-color: #FFFFFF;
  border-width: 1px;
}
.hero__box {
  position: relative;
}
.hero__btn {
  width: 80px;
  height: 80px;
  padding: 14px 8px;
  border-radius: 50%;
  background-color: #FFFFFF;
  position: absolute;
  left: 50%;
  bottom: -34px;
  transform: translateX(-50%) rotate(340deg);
  color: #AE1332;
  text-align: center;
  text-shadow: 0 4px 70px rgba(0, 0, 0, 0.1);
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.8px;
  text-transform: uppercase;
  transition-property: color;
  transition-duration: 250ms;
}
.hero__btn:hover {
  color: #A4CB66;
}
.hero__text {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 44px;
  color: #FFFFFF;
  width: 279px;
  text-shadow: 0 4px 70px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
  letter-spacing: -0.56px;
}
@media screen and (min-width: 1248px) {
  .hero__text {
    width: 222px;
  }
}
.hero__melon {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 44px;
  padding: 28px 25px 40px;
  width: 249px;
  height: 387px;
  border-radius: 500px;
  background-color: #A4CB66;
}
@media screen and (min-width: 736px) {
  .hero__melon {
    margin-bottom: none;
  }
}
.hero__lead {
  color: #FFFFFF;
  text-align: center;
  margin-bottom: 61px;
  text-shadow: 0 4px 70px rgba(0, 0, 0, 0.1);
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: -0.48px;
  text-transform: uppercase;
}
@media screen and (min-width: 736px) {
  .hero__lead {
    font-weight: 400;
  }
}
.hero__image {
  margin-bottom: 2px;
}
.hero__desk {
  margin: 0 auto;
  color: #FFFFFF;
  width: 155px;
  text-align: center;
  text-shadow: 0 4px 70px rgba(0, 0, 0, 0.1);
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: -0.48px;
  text-transform: uppercase;
}

.plan {
  padding-bottom: 80px;
}
@media screen and (min-width: 736px) {
  .plan {
    padding-bottom: 144px;
  }
}
.plan__title {
  color: #FFFFFF;
  text-align: center;
  text-shadow: 0 4px 70px rgba(0, 0, 0, 0.1);
  font-size: 28px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: -1.12px;
  text-transform: uppercase;
  margin-bottom: 14px;
}
@media screen and (min-width: 736px) {
  .plan__title {
    font-size: 40px;
    line-height: 1.1; /* 110% */
    letter-spacing: -1.6px;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
  }
}
.plan__subtitle {
  color: #FFFFFF;
  text-align: center;
  text-shadow: 0 4px 70px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
  letter-spacing: -0.56px;
  margin-bottom: 44px;
}
@media screen and (min-width: 736px) {
  .plan__subtitle {
    width: 520px;
    margin-left: auto;
    margin-right: auto;
  }
}
.plan__item {
  display: flex;
  background-color: #FFFFFF;
  height: 112px;
  gap: 14px;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 736px) {
  .plan__item {
    width: 389px;
    margin-left: auto;
    margin-right: auto;
    height: 128px;
  }
}
.plan__list {
  gap: 20px;
  display: flex;
  flex-direction: column;
  margin-bottom: 44px;
}
@media screen and (min-width: 736px) {
  .plan__list {
    gap: 24px;
  }
}
@media screen and (min-width: 1248px) {
  .plan__list {
    flex-direction: row;
  }
}
.plan__step {
  height: 48px;
  width: 136px;
  background-color: #AE1332;
  border-radius: 200px;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.33;
  /* 133.333% */
  letter-spacing: -0.72px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.plan__item:nth-child(2) .plan__step {
  background-color: #A4CB66;
}
.plan__item:nth-child(3) .plan__step {
  background-color: #F5CE13;
}
.plan__caption {
  color: #000;
  text-shadow: 0 4px 70px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
  /* 128.571% */
  letter-spacing: -0.56px;
  width: 145px;
}
@media screen and (min-width: 736px) {
  .plan__caption {
    width: 199px;
  }
}
@media screen and (min-width: 1248px) {
  .plan__img {
    width: 860px;
    margin-left: auto;
    margin-right: auto;
  }
}/*# sourceMappingURL=main.css.map */